<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
        <!-- Google Sign-in Section -->
        <key>CFBundleURLTypes</key>
        <array>
            <dict>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>CFBundleURLSchemes</key>
                <array>
                    <!-- TODO Replace this value: -->
                    <!-- Copied from GoogleService-Info.plist key REVERSED_CLIENT_ID -->
                    <string>com.googleusercontent.apps.954615029850-l2v45oenqocai4hqeralprh2inqvorlu</string>
                </array>
            </dict>
        </array>
        <!-- End of the Google Sign-in Section -->
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>Wowonder Flutter</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>Wowonder Flutter</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleURLTypes</key>


        
<!--    social login-->
<array>
  <dict>
    <key>CFBundleTypeRole</key>
    <string>Editor</string>
    <key>CFBundleURLSchemes</key>
    <array>
      <string>fb1114801752268905</string>
    </array>
  </dict>
</array>



<!--    Facebook-->

<!-- addmob-->
<key>GADApplicationIdentifier</key>
<string>ca-app-pub-9483238061194787~1465854555</string>
<!--Admob-->
<key>CFBundleURLTypes</key>
<array>
  <dict>
  <key>CFBundleURLSchemes</key>
  <array>
    <string>fb1114801752268905</string>
  </array>
  </dict>
</array>
<key>FacebookAppID</key>
<string>1114801752268905</string>
<key>FacebookClientToken</key>
<string>94064473375d8725ce2affa6ad7e37a1</string>
<key>FacebookDisplayName</key>
<string>Wowonder Flutter</string>

<!--    Facebook-->

		
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>FlutterDeepLinkingEnabled</key>
		<true/>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSAllowsArbitraryLoads</key>
			<true/>
		</dict>
				<!--Location-->

<key>NSCalendarsUsageDescription</key>
    <string>Wowonder Flutter user your calendar.</string>
 <key>NSLocationWhenInUseUsageDescription</key>
    <string>Your location is required for Wowonder Flutter</string>
	<key>NSLocationAlwaysUsageDescription</key>
<string>This app needs access to location when in the background.</string>
		<!--Location-->
		<key>NSCameraUsageDescription</key>
		<string>Wowonder Flutter uses access to your device's camera to do things like take and share photos, record videos, and use visual effects. You can change this from the settings at any time by going back to a setting at any time by going back to your device settings.</string>
		<key>NSMotionUsageDescription</key>
		<string>Motion usage description</string>
		<key>NSPhotoLibraryAddUsageDescription</key>
		<string>NSPhotoLibraryAddUsageDescription</string>
		<key>NSMicrophoneUsageDescription</key>
		<string>Wowonder Flutter uses access to your device's microphone to do things like help you record audio, identify songs, use your voice for search, and use sound effects. You can change this setting at any time by going back to your device settings.</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>Wowonder Flutter uses access to your photos to do things like help you share visual effects, apply them to your photos and videos, and suggest photos and videos to share.</string>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>UIBackgroundModes</key>
		<array>
			<string>remote-notification</string>
		</array>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false/>
		<key>UIStatusBarHidden</key>
		<false/>
	</dict>
</plist>
